* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #EDD263;
    padding-top: 1rem;
    margin: 0 auto;
}
h1, h2 {
    font-family: 'Bebas Neue',
    cursive;
}
h4, p {
    font-family: 'Roboto',
    sans-serif;
}

img {
    max-width: 100%;
} 

.logo {
    max-width: 11rem;
}

li a {
    color: black !important;
    font-weight: 500;
}

.search {
    background-color: white;
    /* padding: 5px; */
    border: 1px solid #EDD263;
    border-radius: 8px;
}
input {
    border: none;
    padding: 12px 5px;
    width: 300px;
}
input:focus {
    outline:none;
}
.search i {
    padding: 10px;
    padding-left: 10px;
}

.food img {
    max-width: 100%;
    border-radius: 10px;
}
.food h4 {
    padding: 15px 5px;
    margin-top: 15px;
}
.food {
    width: 20.6%;
    height: 380px;
    float: left;
    background-color: white;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #d1b33c;
    cursor: pointer;
}
#info {
    display: none;
}